html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
a:link {
  color: #8E000D;
}

a:hover {
	text-decoration: none;
}

/*=============== Common ===============*/
.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.ac {
	text-align: center;
}

.ar {
	text-align: right;
}

::-webkit-credentials-auto-fill-button,
::-webkit-caps-lock-indicator,
::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-moz-placeholder, 
textarea:-moz-placeholder,
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder {
  color: #808080;
}

[v-cloak] {
  display: none;
}

.fade-enter {
  opacity:0;
}
.fade-leave{
  opacity:1;
}
.fade-enter-active{
  transition: opacity .7s;
}
.fade-leave-active{
  opacity:0;
  transition: opacity .7s;
}

.transition-box {
  margin-bottom: 10px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  background-color: #409EFF;
  text-align: center;
  color: #fff;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-right: 20px;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave-active {
  transition: opacity -1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*=============== login-gif ===============*/


#loading-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 999;
  display: none;
}

#loading-wrap .loading {
  margin: -60px 0 0 -50px;
  width: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
}

#loading-wrap .img-loading {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  background: url(./loading.gif) no-repeat center;
  background-size: cover; 
}

#loading-wrap p {
  color: rgb(24, 113, 81);
}

/*=============== element ===============*/

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

/*=============== Body ===============*/

.login_interface {
  border-radius: 11px;
  border: 1px solid rgb(153, 228, 159);
  padding: 50px;
  margin: 0 auto;
  overflow: hidden;
  width: 400px;
  margin-top: 20%;
  background: rgba(91, 165, 97, 0.26);
}

.login_interface2 {
  margin: auto;
  width: 300px;
}

.login_interface2 label {
  font-size: 20px;
}

.login_interface2 {
  
}

.login_interface3 {
  margin-top: 10px;
  overflow: hidden;
  text-align: right;
}

.login_interface3_001 label {
  font-weight: bold;
  margin-right: 27px;
}


.login_interface3_001 {
  width: 100px;
  float: left;
}

.login_interface3_002 {
  width: 200px;
  float: right;
}

.login_interface4 {
  text-align: center;
}

.login_interface4 button {
  width: 100px;
}

.gHeader {
  text-align: center;
  height: 50px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.sideBar {
  width: 200px;
  float: left;
  overflow: hidden;
  height: 100%;
  position: fixed;
  padding-top: 50px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #545c64;
  overflow-y: auto;
  z-index: 9;
}

.sideBar .el-menu {
  border-right: 0 !important;
}

.sideBar .el-menu-item.is-active {
  background: rgba(67, 74, 80, 0.6) !important;
}

.conts {
  padding: 70px 20px 20px 20px;
  text-align: center;
}

.menuPage .menuList li {
  margin: 0 20px;
  display: inline;
}

.menuPage .menuList li button {

}

.menuPage .menuList {
  min-width: 800px;
  padding: 50px 0;
}

.menuPage .menuList li button {
  padding: 24px 40px;
}

.usersj {
  padding: 15px 0 0 49px;
}

.usersj_container {
  margin-top: 40px;
  padding-right: 25%;
}

.usersj .usersj_add{
  width: 1000px !important;
}

.usersj_add {
  margin-top: 20px;
  text-align: right;
}

.usersj_add button {
  width: 100px;
  height: 40px;
}

/* literature */

.literature_caroumap {
  margin: 0 auto;
  width: 78%;
}

.literature_content {
  margin-top: 40px;
}

.literature_poetry {
  margin-top: 30px;
}

table.literature_base {
  margin: 0 auto;
  color: #205929;
  width: 74%;
  max-width: 720px;
  border-collapse: collapse;
}

table.literature_base td {
  border: 1px solid #ffffff00;
  padding: 15px;
}

table.literature_base tbody td {
  width: 50%;
}

/* table.literature_base tbody tr:nth-child(odd),
table.literature_base tfoot tr {
  background: #f9f9f9;
} */

/* table.literature_base tbody td:hover {
  background: #f5f5f5;
}

table.literature_base thead tr:hover {
  background: #f5f5f5;
} */

table.literature_base thead td {
  font-size: 25px;
  font-weight: bold;
}

table.literature_base tbody td {
  font-size: 20px;
}

table.literature_base tbody tr:first-child td:first-child {
  text-align: right;
}

table.literature_base tbody tr:first-child td:last-child {
  text-align: left;
  padding-left: 5%;
  font-weight: bold;
}

table.literature_base tbody tr:nth-child(2) td {
  letter-spacing: 7px;
}

table.literature_base tbody td div {
  text-align: center;
  margin-bottom: 1px;
}

.editTitle {
  color: #606266;
  font-weight: bold;
  margin-top: 20px;
  padding: 30px 0 10px;
  font-size: 20px;
  border-top: 2px solid #ccc;
}

/* ghead */

.gHeader_user {
  padding: 15px 20px 24px 0;
  text-align: right;
}

.icon_loginout {
  cursor: pointer;
}

/* getWeather */

.getWeather_img {
  width: 100px;
  height: 100px;
  display: table-cell;
	vertical-align: middle;
  /* display: block;
  word-break: break-all;
  word-wrap: break-word; */
  position: relative;
  left: 42px;
  top: 5px;
}

.getWeather_content {
  margin: 0 auto;
  text-align: center;
}

.getWeather_img > img {
  display: table;
  width: 100px;
  height: 100px;
}

table.getWeather_table {
  font-weight: bold;
  margin: 0 auto;
  color: #276581;
  width: 80%;
  max-width: 900px;
  border-collapse: collapse;
}

table.getWeather_table td {
  border-left: 1px solid #574b4b;
  border-right: 1px solid #574b4b;
  padding: 15px;
  width: 28%;
}

table.getWeather_table thead tr:first-child td{
  border-bottom: 1px solid #574b4b;
}

table.getWeather_table thead tr:first-child td:first-child {
  border-right: 1px solid #fff;
}

table.getWeather_table thead tr:last-child {
  font-size: 25px;
  color: rgb(39, 108, 187)
}

.theadtd_btn button {
  position: relative;
  top: -40px;
  left: 60px;
}

.theadtd_elrow {
  width: 60%;
  margin: 0 auto;
}

.theadtd_font {
  font-size: 25px;
}

